// Colors
$white-color:               #fff;

$black-color:               #44566C;
$gray-100-color:            #F5F8F9;
$gray-200-color:            #F0F0F6;
$gray-300-color:            #8697A8;
$gray-400-color:            #5F6F81;

$tone-color:                #304CFD; //blue
$tone-additional-color:     #FF965D; //orange
$red-color:                 #FF3D57; //red

$gradient-1:                linear-gradient(111.59deg, #FFF2E7 0%, #FFCADA 99.08%);                  // peach
$gradient-2:                linear-gradient(111.59deg, #FFC956 0%, #FF9F4D 99.08%);                  // orange
$gradient-3:                linear-gradient(128.99deg, #00F1E2 10.98%, #2CD5EF 90.23%);              // azure
$gradient-4:                linear-gradient(135deg, rgba(155,225,93,1) 0%, rgba(0,217,166,1) 100%);  // green
// Dark sheme
